.backdrop {
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
}
.backdropHidden {
    opacity: 0;
    z-index: -9;
    transition-delay: .3s;
}

.modal{
    overflow: hidden;
    
}

.modalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-100%);
    margin: 0 auto;
    width: 50%;
    transition: all .3s ease-in;
}

.modalOpen {
    opacity: 1;
    transform: translate(-50%,-50%);   
}


.closeBtn{
    color: rgb(207, 15, 15);
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width:768px){
    .modalBody{
        width: 80%;
    }
}
